// 常量
$common-color: #eee;
$common-fontSize: 100px;
$common-backgroundColor: blue;
$com-size: 60px;
$com-fontsize: $com-size/2;
// 混入
@mixin inAndin{
  color: red;
}
@mixin important-text {
  @include  inAndin;
  font-weight: bold;
  border: 1px solid green;
}